<section id="drawer-section" class="drawer-wrapper">
  <div class="container">
    <div class="drawer-wrap">
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
      <div class="drawer">
        <div class="content">
          <div class="door"></div>
          <div class="box_background">
            <img src="assets/images/drawer/box_background.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
