<footer class="footer text-center">
    香港零一媒體有限公司版權所有 © 2017 <br>
  <ul class="list-inline footer__list">
    <li class="list-inline-item"><a href="https://www.hk01.com/Pages/PrivacyTerms" target="blank">私隱條例</a></li>
    <li class="list-inline-item"><a href="http://www.hk01.com/mediakit/index.html" target="blank">廣告查詢</a></li>
    <li class="list-inline-item"><a href="https://www.hk01.com/Pages/ContactUs" target="blank">聯絡我們</a></li>
  </ul>
</footer>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>