<section id="scene">
  <div class="container">
    <div class="main-slider owl-carousel owl-theme">

      <div class="main-slider__item" data-hash="scene-1">
        <div class="main-slider__teaser text-center">
          <h5>聖誕瘋狂大特賣</h5>
          <p>
            者不不物無上有洋果重定案我型是開嗎帶設山策懷光創人而電務？眾空風師後？生信叫健一相分密極投規的樓分戰著；流資性歷容的一價來國現息保不！於生計吃因國著美參清愛間。苦到我營下園作萬已香灣關種，參原人裡，邊高大是說不第中送她日說，要他收道。
          </p>
        </div>
        <div class="main-slider__graph">
          <img src="assets/images/draft/turkey.svg" height="300">
        </div>
      </div>

      <div class="main-slider__item" data-hash="scene-2">
        slide 2
      </div>

    </div>
  </div>
  <div class="scroll-down-btn text-center">
    <a href="#drawer-section" class="icon-double-down"></a>
  </div>
</section>