#top {
  padding: rem(38px) 0;
}

#scene {
  height: calc(100vh - 100px);
  position: relative;

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  &.open {
    .owl-nav,
    .scroll-down-btn {
      visibility: hidden;
      opacity: 0;
    }
  }
}
